/*
flex-grow: 1; => bu digerlerinden kac kat buyuk olacagini gosterir
flex-basis: 20%; => digerlerini auto yaparken kullanilmis olaninin ozelliklerini buna gore hesaplattirir
flex: 1; =>
order: 1; => 
flex-shring: 1; =>
flex: 0 0 300px ; =>




*/