/*
flex-grow: 1; => allows the element to grow and fill the remaining space
flex-basis: 20%; => before growing and shrink it sets the initial main size
flex: 1; => makes the element grow to fill available space equally with other flex items
order: 1; => changes the element's position in the flex container, placing it after any element lower defualt value is 0 
flex-shrink: 1; => allows the element to shrink if necessary when there is no space in the flex container
flex: 0 0 300px ; => flex-grow, flex-shrink and flex-basis in order
*/