.form{

    &__group:not(:last-child){
        margin-bottom: 2rem;
    }
    &__input{
        font-size: 1.5rem;
        font-family: inherit; // automatically inherit the font family
        padding: 1.5rem 2rem;
        color: inherit;
        border-radius: .2rem;
        background-color: rgba($color-white, .5);
        border: none;
        border-bottom: .3rem solid transparent; // when we activated it will be green
        width: 90%;
        display: block;
        transition: all .3s;
       
        &:focus{
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: .3rem solid $color-primary; // 3px color added to bottom line   
        }
        &:focus:invalid{ // if when the user clicked to input when the typed invalid it will stay red
            border-bottom: .3rem solid $color-secondary-dark; // changing the bottom line color   
        }
        &::-webkit-input-placeholder{
            color: $color-grey-dark-2;
        } // only for safari and chrome
    }

    &__label{ // when the user started to type the label will appear below the bottom line 
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .2s;
    }

    &__input:placeholder-shown ~ &__label{ // ~ is a sibling selector it lets you to select both elements from the same parent
        // if nothing in input it will be hidden 
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__radio-group{
        width: 49%;
        display: inline-block; // so they will stay side by side
    }
    &__radio-input{
        display: none;
    }
    &__radio-label{
        font-size: $default-font-size;
        cursor: pointer;
        position: relative;
        padding-left: 4.5rem;
    }
    &__radio-button{
        height: 3rem;
        width: 3rem;
        border: .5rem solid $color-primary;
        border-radius: 50%;
        display: inline-block;
        position: absolute; // to make this absolute parent element must be relative
        left: 0;
        top: -.5rem;



        &::after{
            content: ""; 
            display: block;
            height: 1.2rem;
            width: 1.2rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-primary;
            opacity: 0;
            transition: opacity .2s;
        }
    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after { // to reach the radio-button element from html first we must select radio-input then radio-label and after that its sibling's class radio-button
        opacity: 1;
    }
}

