// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// Media query Variables
$bp-largest: 75rem; // 1200/16 = 75rem
$bp-large: 62.5em; // 1000px / 16 = 62.5
$bp-medium: 50em; // 800/16 = 50em
$bp-small: 37.5em; // 600/16 = 37.5em


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    font-size: 62.5%; // 10/16 = 62.5, 1rem = 10px

    @media only screen and (max-width: $bp-largest) {
        font-size: 50%; // 1rem 10px but now 8px for 75em
    }
}
body{
    font-family: $font-primary;
    color: $color-grey-dark-2;
    font-weight: 300;
    line-height: 1.6;
}

.container{
    display: grid; // this is wwhole story and main side
    grid-template-rows: 80vh min-content 40vw repeat(3,min-content); // size adapts to content
    // there are totally 6 grid in the whole site include header and footer
    grid-template-columns: [sidebar-start]8rem [sidebar-end full-start] minmax(6rem,1fr) [center-start] // by using minmax we are always holding 60px size 
    repeat(8, [col-start] minmax(min-content, 14rem) [col-end])[center-end] 1fr [full-end]; // between min content and 14 rem * 8 times, first 8 rem is also a column
     // we are giving column names to use effeciently
     //! perfect way to seperated sections

     @media only screen and (max-width: $bp-large) {
        grid-template-rows: 6rem 80vh min-content 40vw repeat(3,min-content);
        grid-template-columns: [full-start] minmax(6rem,1fr) [center-start] 
        repeat(8, [col-start] minmax(min-content, 14rem) [col-end])[center-end] 1fr [full-end]; // using names will be much better for responsive
    }

    @media only screen and (max-width: $bp-medium) {
        grid-template-rows: 6rem calc(100vh - 6rem); //min-content min-content min-content repeat(3,min-content); 
        // calc funtion to sub 6rem margin from top,  rest of the comment line is unnecessary 

    }
    
}