.realtors{
    background-color: $color-secondary;
    grid-column: col-start 7 / full-end; // starts from the 7th column until end of the area
    padding: 2rem;
    
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    grid-row-gap: 2rem;
    &__list{
        display: grid;
        grid-template-columns: min-content max-content; // for img min content for text max content
        grid-column-gap: 2rem;
        grid-row-gap: 7vh; // responsive
        align-items: center; // vertically alignin center
        
    }
    &__img{
        width: 7rem;
        border-radius: 50%;
        display: block;
    }
    &__sold{
        text-transform: uppercase;
        color: $color-grey-light-2;
        margin-top: -3px;
        font-size: 2rem;
    }

}