.sidebar{
    background-color: $color-primary;
    grid-column: sidebar-start / sidebar-end; // coming from base file
    grid-row: 1 / -1; // start in the beginning and goes until to the end

    display: flex;
    justify-content: center;
}

.nav-btn{
    border: none;
    border-radius: 0; // wea re getting rid of the button style

    background-color: #fff;
    height: 2px;
    width: 4.5rem;
    margin-top: 4rem;

    &::before,
    &::after{
        content: "";        
        background-color: #fff;
        height: 2px;
        width: 4.5rem;
        display: block;
    }

    &::before{ transform:  translateY(-1.5rem);}
    &::after{ transform:  translateY(1.3rem);}
}