@mixin clearfix {
    &::after{ // we used ampersand because we want to use in the following steps in the declaration
        content: ""; // alwasy specify 
        display: table; // table value
        clear: both; // clear left and right

    }
}

@mixin absCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}





//! RESPONSIVE DESIGN
/*
0 - 600px : phone
600px - 900px: tablet
900px - 1200px: tablet landscape
1800px: big desktop
*/
// $breakpoint argument choices => phone, tab-port, tab-land, big-desktop 
@mixin respond($breakpoint){
    @if $breakpoint == phone{
        @media (max-width: 37.5em) { @content }; // all the content will be in media , 600px / 16(1em) = 37.5em 
    }
    @if $breakpoint == tab-port{
        @media (max-width: 56.25em) { @content }; // all the content will be in media
    }
    @if $breakpoint == tab-land{
        @media (max-width: 75em) { @content }; // all the content will be in media
    }
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) { @content }; // all the content will be in media
    }
}